*, *:before, *:after{
  box-sizing: inherit;
}

body {
  background: #191765;
  margin: 0;
}

/* .body-container {
    position: relative;
    width: 1440px;
    height: 4651px;
} */

@media only screen and (max-width: 600px) {
  .body-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .navbar-container li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
}