@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");

* {
  box-sizing: inherit;
}

body {
  background: #191765;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  .toolbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .navbar-container li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .section1-details {
    margin-top: -220px;
  }

  .section1-details > section {
    width: 327px;
    text-align: center;
    padding: 17px;
    margin: 0 auto;
  }

  section > h1 {
    letter-spacing: 0.37px;
    height: 55px;
    font-weight: 700;
    font-size: 32px;
    line-height: 72px;
    color: #7d73fc;
  }

  section > h3 {
    color: white;
    line-height: 15px;
    font-weight: 500;
    height: 43px;
    top: 67px;
    font-size: 29px;
  }

  section > p {
    height: 170px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #7d73fc;
    border-bottom: 1px solid #646369;
    padding-bottom: 5px;
  }

  .hamburger {
    position: absolute;
    top: 14px;
    font-size: 26px;
  }

  .logo {
    letter-spacing: 0.48px;
    line-height: 55px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
  }

  svg {
    filter: blur(50px);
    background: white;
  }
}
