@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");

* {
  box-sizing: inherit;
}

body {
  background: #191765;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  .body-container {
  }

  .toolbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: -53px;
  }

  .navbar-container li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .work-icon > h3 {
    padding: 5px;
  }

  .section1-details {
    width: 327px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .personal-projects > h1 {
    height: 29px;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .section1-details > h1 {
    letter-spacing: 0.37px;
    height: 55px;
    font-weight: 700;
    font-size: 32px;
    line-height: 72px;
    color: #7d73fc;
    width: 327px;
    margin: 24px;
    text-align: center;
  }

  .section1-details > h3 {
    color: white;
    line-height: 15px;
    font-weight: 500;
    height: 43px;
    top: 67px;
    font-size: 29px;
    width: 327px;
    margin: 24px;
    text-align: center;
  }

  .personal-projects > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #dcdce8;
    height: 204px;
    font-family: Inter, sans-serif;
    font-style: normal;
    padding-top: 25px;
  }

  .section1-details > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #7d73fc;
    margin: 24px;
    width: 327px;
    text-align: center;
  }

  .hamburger {
    position: absolute;
    top: 14px;
    font-size: 26px;
  }

  .logo {
    letter-spacing: 0.48px;
    line-height: 55px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
  }

  svg {
    filter: blur(50px);
    background: white;
  }

  .inner-list-container > ul {
    list-style: none;
    margin-left: -40px;
    color: #f5f5ff;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .personal-projects > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 2px;
  }

  .section2-details > ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .personal-projects > ul > li {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    width: 25px;
    height: 20px;
    align-self: flex-end;
  }

  .section2-details > ul > li {
    list-style: none;
    color: #9490ff;
    letter-spacing: 0.48px;
    line-height: 16px;
    font-size: 12px;
  }

  .section2-details {
    width: 327px;
  }

  .section3-details > section {
    width: 327px;
  }

  .social-container {
    display: flex;
    justify-content: center;
    letter-spacing: 25px;
    font-size: 24px;
    width: 327px;
    margin: 24px;
  }

  .work-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #a2a3ae;
    line-height: 32px;
    font-weight: 500;
    margin: 24px;
    width: 327px;
  }

  i.fa.fa-arrow-down {
    padding: 5px;
  }

  .section3-details > h1 {
    line-height: 52px;
    font-size: 40px;
    width: 327px;
    color: #9490ff;
    margin: 24px;
  }

  .section4-work-details {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 327px;
    margin: 24px;
  }

  .personal-projects {
    display: flex;
    flex-direction: column;
    height: 816px;
    margin-bottom: -84px;
  }

  .personal-projects > img {
    height: 236px;
    background: linear-gradient(0deg, #f9f9f9, #f9f9f9);
  }

  .list {
    border-right: 1px solid #555;
  }

  .seeproject-btn {
    width: 89px;
    height: 48px;
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;
    background: #7d73fc;
    border-style: none;
    color: #edecff;
    letter-spacing: 0.48px;
    padding: 6px;
    margin-top: 4px;
  }

  .personal-projects > button:hover {
    background: #7d73fc;
    color: #fff;
    padding: 6px;
    box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  }

  .personal-projects > button:active {
    background: #5e42d7;
    color: #eaeaf6;
    padding: 6px;
  }

  .personal-projects > button:disabled {
    background: #2a2b33;
    color: #c8c8d4;
    padding: 6px;
  }

  .personal-projects > ul > img {
    margin-left: 35px;
    width: 1px;
    height: 27px;
  }

  img.image-border {
    margin: 24px;
  }

  .list-sumbua {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    width: 25px;
    height: 20px;
  }

  li > span {
    margin-left: 20px;
  }

  img.ellipse-image-one {
    margin-bottom: -237px;
  }

  .ellipse19 {
    position: absolute;
    margin-top: 87px;
  }

  .ellipse20 {
    height: 250px;
    position: absolute;
    margin-top: 910px;
    margin-left: 220px;
    width: 155px;
  }

  .imageport {
    margin-left: 289px;
    position: absolute;
    margin-top: -19px;
  }

  img.ellipse21 {
    position: absolute;
    margin-top: 1690px;
    margin-left: -84px;
    width: 308px;
    height: 155px;
    filter: blur(50px);
    background: rgba(237, 236, 255, 0.3);
  }

  .ellipse22 {
    position: absolute;
    margin-top: 2431px;
    width: 128.29px;
    height: 217.04px;
    margin-left: 247px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 327px;
    margin: 24px;
  }

  form > h1 {
    width: 327px;
    height: 35px;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #9390ff;;
  }

  form > p {
    width: 327px;
    height: 105px;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #f5f5ff;
  }

  .input-area {
    width: 327px;
    height: 48px;
    margin: 24px;
    background: #fff;
    border: 1px solid #9490ff;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #81818c;
  }

  .text-area {
    width: 327px;
    height: 148px;
    margin: 24px;
    background: #fff;
    border: 1px solid #9490ff;
  }

  /* .submit {
    width: 89px;
    height: 48px;
    background: #7d73fc;
    letter-spacing: 0.48px;
    font-weight: 500;
    font-size: 12px;
    color: #edecff;
  } */

  form > button:hover {
    background: #7d73fc;
    color: #fff;
    padding: 6px;
    box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  }
  
  form > button:active {
    background: #5e42d7;
    color: #eaeaf6;
    padding: 6px;
  }

  footer > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }
}
