@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");

* {
  box-sizing: inherit;
}

body {
  background: #191765;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

@media only screen and (max-width: 600px) {
  .toolbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: -53px;
  }

  .navbar-container li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .section1-details {
    margin-top: -220px;
  }

  .work-icon > h3 {
    padding: 5px;
  }

  .section1-details > section {
    width: 327px;
    text-align: center;
    padding: 17px;
    margin: 0 auto;
  }

  .section1-details > section > h1 {
    letter-spacing: 0.37px;
    height: 55px;
    font-weight: 700;
    font-size: 32px;
    line-height: 72px;
    color: #7d73fc;
  }

  .section1-details > section > h3 {
    color: white;
    line-height: 15px;
    font-weight: 500;
    height: 43px;
    top: 67px;
    font-size: 29px;
  }

  .section1-details > section > p {
    height: 170px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #7d73fc;
    border-bottom: 1px solid #646369;
    padding-bottom: 20px;
  }

  .hamburger {
    position: absolute;
    top: 14px;
    font-size: 26px;
  }

  .logo {
    letter-spacing: 0.48px;
    line-height: 55px;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
  }

  svg {
    filter: blur(50px);
    background: white;
  }

  .inner-list-container > ul {
    list-style: none;
    margin-left: -40px;
    color: #f5f5ff;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .section2-details > section > ul {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 327px;
    border-bottom: 1px solid #646369;
  }

  .section2-details > section > ul > li {
    list-style: none;
    color: #9490ff;
    letter-spacing: 0.48px;
    line-height: 16px;
    font-size: 12px;
  }

  .section2-details {
    margin-top: -50px;
  }

  .section3-details > section {
    width: 327px;
  }

  .social-container {
    display: flex;
    justify-content: center;
    letter-spacing: 25px;
    font-size: 24px;
  }

  .work-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #a2a3ae;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: -24px;
  }

  i.fa.fa-arrow-down {
    padding: 5px;
  }

  .section3-details > section > h1 {
    line-height: 52px;
    font-size: 40px;
    width: 327px;
    color: #9490ff;
    margin: 24px;
    border-bottom: 1px solid #646369;
    padding-bottom: 20px;
  }

  .section4-work-details > section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 327px;
  }

  .personal-projects{
    display: flex;
    flex-direction: column;
  }

  .personal-projects > ul {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    list-style: none;
  }

  .personal-projects > ul > li {
    border-right: 1px solid #555555;;
  }
}
